
            /* padrão de computador*/

@media (max-width: 4000px){
   body{
      background-color: blue;
   }

}   

/*padrão de celular*/
@media (max-width: 430px){
   body{
      background-image:url(../imagem/fundo.png)
   }
   .final{
      height: 50px;
      background-color: rgb(147, 117, 117);
      position: fixed;
      z-index: 2;
      bottom: 0px;
      width: 100%;
      color: white;
   }
   .cmc{
      background-color: rgba(0, 0, 0, 0.699);
      padding-bottom: 10px;
      padding-top: 5px;
   }
   .direita{
      text-align: right;
   }
   .img1{
      border-radius: 50%;
      width: 60px;
      height: 60px;
   }
   .p1{
      
      margin-bottom: 3%;
      
   }
   .pp1{
      padding-top: 30px;
   }
   .pp1 h1{
      font-size: 35px;
      font-weight: bold;
      padding-top: 12px;
      color: rgb(209, 186, 186)  
   }
   .p1 h1{
      font-size: 35px;
      font-weight: bold;
      padding-top: 12px;
      color: rgba(230, 225, 225, 0.829)   
   }
   .p2{
      background-color: rgba(0, 0, 0, 0.329);
      padding-bottom: 35px;
      
   }
   .slider{
      width: 100%;
      overflow: hidden;
      height: 250px;
      padding: 20px 0px;
      
   }
   .slider_principal{
      display: flex;
      width: 300%;
   }
   .slidee img{
      height: 250px;
      
   }
   .slidee{
      width: 33.33%;
      transition: margin-left 2s;
   }
   .slider input{
      display: none;
   }
   .suculenta{
      text-align: center;
      margin-top: -30px;
   }
   .suculenta label{
      margin-left: 5%;
      margin-right: 5%;
      color: white;
   }
   #bola1:checked ~.primeiro{
      margin-left: 0%;
   }  
   #bola2:checked ~.primeiro{
      margin-left: -33.33%;
   }
   #bola3:checked ~.primeiro{
      margin-left: -66.66%;
   }
   .suculenta img{
      width: 2%;
      outline: 1px solid black;
      border-radius: 8px;
   }
   .p3{
      font-size: 35px;
      font-weight: bold;
      padding-top: 30px;
      color: rgba(230, 225, 225, 0.829)
   }
   .p4{
      margin-top: 10%;
   }
   .cliente1 img{
      height: 80px;
      border-radius: 50px;
   }
   .esp{
      margin-top: 5%;
      font-size: 20px;
      font-weight: bolder;
      color: rgb(156, 144, 144)
   }
   .esp1{
      font-size: 16px;
      color: rgb(156, 144, 144)
   }
   .cliente1{
      outline: 1px solid black;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: rgba(0, 0, 0, 0.329);
   }
   .p5{
      margin-top: 50px;
      color: rgba(230, 225, 225, 0.829)
      
   }
   .pp5{
      margin-top:100px ;
      color: rgba(230, 225, 225, 0.829)
   }
   .p5img1{
      height: 20px;
      margin-left: 20%;
      
   }
   .p5img2{
      height: 20px;
      margin-left: 40%;
   }
   .curiosidade1{
      padding-top: 70px;
   } 
   .curi1{
      color: rgb(209, 186, 186)
   }
   .historico{
      background-color: rgba(0, 0, 0, 0.329);
      padding-top: 10px;
      padding-bottom: 10px;
      border: 2px solid;
      border-radius: 10px;
   }
   .historico img{
      border-radius: 50%;
      width: 70px;
      height: 70px;
   }
   .historico h1{
      padding-top: 15px;
      font-size: 20px;
   }
   .historico button{
      background-color: rgba(29, 172, 1, 0.596);
      border: none;
      color: white;
      text-transform: uppercase;
      padding: 10px 10px;
      margin-right: 5px;
      margin-top: 5px;
      font-weight: bold;
      border-radius: 10px;
      margin-top: 15%;
   }
   .curip1{
      padding-top: 40px;
   }
   .curip1 h1{
      font-size: 40px;
      font-weight: bold;
      padding-top: 12px;
      color: rgba(255, 255, 255, 0.753);
   }
   .curiosidade1 .h1{
      color: rgba(255, 255, 255, 0);
   }
   .CCuri1{
      margin-top: 50px; 
      color: rgba(255, 255, 255, 0.753);
   }

   .curi1tx1{
      font-size: 30px;
   }
   .curi1dv2{
      margin-top: 60px;
   }
   .curi1dv2 h1{
      font-size: 20px;
   }
   .ppp5{
      margin-top: 150px;
      color: rgba(230, 225, 225, 0.829)
   }
   .curi1botao button{
   background-color: rgba(255, 0, 0, 0.749);
   border: none;
   color: white;
   text-transform: uppercase;
   padding: 10px 10px;
   width: 40%;
   margin-right: 5px;
   margin-top: 5px;
   font-weight: bold;
   border-radius: 10px;
   margin-top: 10%;  
   }  
}